@{
  Layout = "_Layout";
}

@model FactorySpace.Models.Machine;

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.MachineName): @Html.DisplayFor(model => model.MachineName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This machine does not have any engineers.</p>
}
else
{
  <h4>Engineers the machine has:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Engineer.EngineerName</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to machines", "Index")</p>
<p>@Html.ActionLink("Edit machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete machine", "Delete", new { id = Model.MachineId })</p>
